@config "../../tailwind.config.js";
@import "tailwindcss";

p,
span,
pre,
h1,
h2 {
  text-wrap: initial;
  caret-color: transparent;
  user-select: none;
  outline: none;
}

/* Скрываем элементы управления */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

video::--webkit-media-controls-start-playback-button {
  display: none !important;
}

.button {
  outline: none;
}

.video-container video {
  transform: translateZ(0); /* Активирует аппаратное ускорение */
  backface-visibility: hidden; /* Оптимизация рендеринга */
}

@custom-variant light (&:where([data-theme="light"] *));
@custom-variant dark (&:where([data-theme="dark"] *));
@custom-variant blob (&:where([data-theme="blob"] *));
@custom-variant fire (&:where([data-theme="fire"] *));

@theme {
  --animate-shining: shining 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  --animate-shining-intro: shining 2s ease-in-out forwards;
  --animate-spin: spin 5s linear infinite;
  --animate-emodji: emodji 7s ease-in infinite;
  --animate-address: address 0.7s ease-in;

  @keyframes emodji {
    0% {
      transform: rotate(0deg) scale(1);
    }
    10%, 100% {
      transform: rotate(360deg) scale(1);
    }
    25% {
      transform: scale(1);
    }
    30%, 35% {
      transform: scale(1.1);
    }
    40%, 45% {
      transform: scale(1);
    }
    50%, 55% {
      transform: scale(1.1);
    }
    60%, 65% {
      transform: scale(1);
    }
    70%, 75% {
      transform: scale(1.1);
    }
    80%, 85% {
      transform: scale(1);
    }
  }

  @keyframes address {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes shining {
    0% {
      opacity: 0;
      filter: blur(20px) brightness(1.8)
        drop-shadow(0 0 25px rgba(255, 200, 100, 0.8));
      transform: scale(0.8);
    }
    60% {
      opacity: 1;
      filter: blur(8px) brightness(1.5)
        drop-shadow(0 0 35px rgba(255, 220, 150, 0.6));
      transform: scale(1.05);
    }
    80% {
      opacity: 1;
      filter: blur(4px) brightness(1.3)
        drop-shadow(0 0 25px rgba(255, 230, 180, 0.5));
      transform: scale(1);
    }
    100% {
      opacity: 1;
      filter: blur(0) brightness(1) drop-shadow(0);
      transform: scale(1);
    }
  }

  --color-primary: #080808;
  --color-secondary: #fefefe;
  --color-accent: #e23324;

  --color-maskot1: #a7a18d;
  --color-maskot2: #403d3e;
  --color-maskot3: #591628;
  --color-maskot4: #a65c41;
  --color-maskot5: #f2785c;
}

.link {
  @apply cursor-pointer hover:scale-99 transition duration-300 outline-none select-none;
}

.x-spacing {
  @apply px-[5vw] md:px-[10vw];
}

.section {
  @apply w-full flex flex-col justify-center items-center gap-10 md:gap-0 pb-30 lg:pb-0 relative;
}

.heading {
  @apply text-3xl lg:text-4xl lg:my-50 text-center;
}
